* {
    box-sizing: border-box;
}

#grid_container {
    display: flex;
    flex-wrap: wrap;
}

#grid_container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

#grid_container>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}
